// Here you can add other styles
button:disabled {
  cursor: not-allowed;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-column {
  display: inline-flex;
  flex-direction: column;
  width: 10rem;
  gap: 0.5rem;
}

.loader {
  position: fixed;
  top: 50%;
  left: 58%;
  height: 5rem;
  width: 5rem;
}

.ban-icon {
  width: 2rem;
  height: 2rem;
}
